    <div class="container">
        <div class="logo-container">
        <%= image_tag "Logo.png", alt: "AI Coders Logo", class: "logo" %>
        </div>
        <h1>AI Coders</h1>
        <p class="tagline">The Path</p>
        <div class="login-box">
            <div class="textbox">
                <input type="text" id="username" placeholder="Username or Email">
            </div>
            <div class="textbox">
                <input type="password" id="password" placeholder="Password">
            </div>
            <%= link_to 'Sign In', chatbot_path, class: 'btn-submit' %>
            <a href="#" class="forgot-link">Forgot password?</a>
        </div>
    </div>
