.chat-container {
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.user-message,
.bot-message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.user-message {
  background-color: #f0f0f0;
  margin-left: 20%;
  text-align: right;
}

.bot-message {
  background-color: #3353bd;
  margin-right: 20%;
  color: white;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
